# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
ENV/
env/
.venv/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Other editor folders
.idea/

# Logs
*.log

# Test output
htmlcov/
coverage.xml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Output folder for sorted files
sorted/

trash/
